PORT = 8000
NODE_ENV = development
CLIENT_URL=http://localhost:5173

MONG0_URI=mongodb+srv://

SECRET_KEY=your-secret-key

# cloudinary
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name